.navbar {
  font-family: 'Oxygen', sans-serif;
  color: #777777;
  letter-spacing: .5px;
  height: 5vw;
  margin-bottom: 0!important;
}

.header-logo {
  width: 2.7vw;
  height: auto;
  margin-left: .5vw;
  padding: 0;
}

.navbar-brand {
  width: 6.25vw;
  height: 5vw;
  border-right: solid 1px #cccccc;
}

.navbar-left {
  height: 5vw;
  width: 55%;
}
.searchbar {
  height: 5vw;
}

.search-icon-box {
  padding: 1vw .5vw 1vw 1.5vw;
}

.search-icon {
  width: 1.85vw;
  height: auto;
}

.search-input-box {
  padding: 0 .5vw 0 .5vw;
}

.search-input {
  height: 4vw;
  width: 40vw;
  border: none;
}

.search-input::-webkit-input-placeholder {
  font-family: 'Oxygen', sans-serif;
  color: #767676;
  font-size: 1.05vw;
  font-weight: 500;
  letter-spacing: .5px;
}

.search-input:focus {
  outline: none;
}

.navbar-right {
  padding: 0;
  margin-right: 0;
}

.navbar-right .nav-item {
  font-weight: 600;
  font-size: 1.05vw;
}

/*-----Navbar buttons styling -----*/
.nav-dropdown-button {
  font-family: 'Oxygen', sans-serif;
  color: #777777;
  background-color: #FFFFFF;
  font-size: 1.05vw;
  font-weight: 600;
  letter-spacing: .5px;
  height: 4.8vw;
  padding: 0 1.45vw 0 1.5vw;
  margin-right:.15vw;
  border: none;
  border-radius: 0px;
}

.nav-dropdown-button .nav-button-underline {
  padding: 1.75vw 0 1.75vw 0;
}

.nav-dropdown-button:active {
  background-color: #FFFFFF;
  color: #777777;
}

.nav-dropdown-button:active .nav-button-underline {
  border: none;
}

.nav-dropdown-button:visited {
  background-color: #FFFFFF;
  color: #777777;
}

.nav-dropdown-button:hover {
  background-color: #FFFFFF;
  color: #777777;
}

.nav-dropdown-button:hover .nav-button-underline {
  border-bottom: solid 2px #777777;
  border-radius: 0px;
  padding: 1.75vw 0 1.75vw 0;
}

.nav-dropdown-button:focus {
  background-color: #FFFFFF;
  color: #777777;
  border: none;
}

.nav-dropdown-button:focus .nav-button-underline {
  border: none;
}

.nav-button {
  font-family: 'Oxygen', sans-serif;
  color: #777777;
  background-color: #FFFFFF;
  font-size: 1.05vw;
  font-weight: 600;
  letter-spacing: .5px;
  height: 4.8vw;
  padding: 0 1.5vw 0 1.5vw;
  margin-right: .15vw;
  border: none;
  border-radius: 0px;
}

.nav-button .nav-button-underline {
  padding: 1.75vw 0 1.75vw 0;
}

.nav-button:visited {
  color: #777777;
  background-color: #FFFFFF;
  outline: none;
}

.nav-button:hover {
  background-color: #FFFFFF;
  color: #777777;
}

.nav-button:hover .nav-button-underline {
  border-bottom: solid 2px #777777;
  border-radius: 0px;
  padding: 1.75vw 0 1.75vw 0;
}

.nav-button:active {
  background-color: #FFFFFF;
  color: #777777;
  border: none;
  outline: none;
}

.nav-button:active .nav-button-underline {
  border: none;
}

.nav-button:focus {
  background-color: #FFFFFF;
  outline: none;
}

.nav-host {
  width: 283px;
  height: 154px;
  box-shadow: 1px 1px 2px #bebebe;
  border: 1px solid #bebebe;
}

.nav-host-item {
  padding: 8px 24px 9px 4px;
}

.nav-host-link {
  color: #767676!important;
  font-size: 13px!important;
  font-weight: 500!important;
  letter-spacing: .5px!important;
  width: 240px!important;
  border-bottom: solid 1.5px #e8e8e8;
  margin-left: 10px;
  padding: 2px 0 13.5px 0!important;
}

.nav-host-link:hover {
  background-color: #FFFFFF!important;
  border-bottom: solid 1.5px #484848;
}

/*-----Help sidepanel styling -----*/

.help-sidebar {
  background-color: #FFFFFF;
  display: block;
  width: 352px;
  height: 100vh;
  box-shadow: -3px 0 3px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
